.article-preview{
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	animation: fade-in 1.0s ease-in-out;
}

.article-preview img{
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	width: 100%;
}

@media screen and (min-width: 1000px) {
	.article-preview {
		grid-template-columns: repeat(2, 1fr); /* 2-column layout */
	}
}

@keyframes fade-in{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
