(
	title : "Boids & Quadtrees",
	alias : "boids",
	cover : "media/boids/boid_screen.jpg",
	tags : Some("rust"),
	teaser : "Quadtrees are data structures for holding spatial information with a complexity of log(N) for collision detection. These are the foundation of every physics engine. They are also great for boid simulations. Here is an example running in Wasm.",
	published : "12.08.2023",
)
