footer{
	box-shadow: 8px 0 0 0 rgba(0,0,0,0.5);
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 1rem 0;
	background-color: #1f293b;
	.footer-navbar{
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

footer ul {
	display: flex;
	flex-direction: row;
	gap:  2rem;
	list-style: none;
}


footer ul li{
	display: flex;
	justify-content: center;
}

footer ul li a {
	font-weight: bold;
}
