header{
	width: 100%;
	padding-bottom: 0!important;
	.image{
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		.banner{
			width: 100%;
		}
	}
	.image::before{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 6%;
		background:
			radial-gradient(circle, #1f293b, 55%, transparent),
			linear-gradient(to right, transparent, 40%, #1b2435);
	}

	.header-bar{
		margin-top: 0.5rem;
		display: flex;
		justify-content: space-between;
	}
}

header p {
	padding: 0;
}

.logo {
	padding: 0.5rem 0;
}

@media screen and (max-width: 768px) {
	.logo a {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.header-bar {
		flex-direction: column;
		align-items: center;
	}
	header p{
		text-align: center;
		padding: 0.5rem 0;
	}
}

header ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

header p {
	font-style: italic;
}

.nav-link.active{
	color: var(--link-color);
}

.nav{
	display: flex;
	position:relative;
	--nav-left: 0;
	--nav-width: 25%;
}

.nav > * {
	width: 6.5rem;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	color: white;
}

.nav::before{
	content:"";
	left: var(--nav-left);
	width:var(--nav-width);
	position: absolute;
	display:block;
	bottom: 0;
	height: 4px;
	border-radius: 1rem;
	background:var(--link-color);
	transition: 200ms ease-in-out;
}

