header{
	width: 100%;
	padding-bottom: 0!important;
	.image{
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		.banner{
			width: 100%;
		}
	}
	.image::before{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 6%;
		background:
			radial-gradient(circle, #1f293b, 55%, transparent),
			linear-gradient(to right, transparent, 40%, #1b2435);
	}

	.header-bar{
		margin-top: 0.5rem;
		display: flex;
		justify-content: space-between;
		.logo {
			padding: 0;
			margin: 0;
		}
		.navbar {
			display: flex;
			justify-content: start;
			font-weight: bold;
		}
	}
	padding: 0;
	margin: 0;
}

.logo a {
	font-size: 2.5rem;
	line-height: 3rem;
}

@media screen and (max-width: 768px) {
	.logo a {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.header-bar {
		flex-direction: column;
		align-items: center;
	}
	header p{
		text-align: center;
	}
}

header ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 0;
	margin: 0;
}

header p {
	font-style: italic;
}
