header{
	padding-bottom: 0!important;
	.image{
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		img{
			width: 100%;
		}
	}

	.image::before{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 6%;
		background:
			radial-gradient(circle, #1f293b, 55%, transparent),
			linear-gradient(to right, transparent, 40%, #1b2435);
	}

	.header-bar{
		.logo{
			margin: 0;
			a{
				color: white;
				text-decoration: none;
			}
		}
		.navbar{
			display: flex;
			justify-content: start;
			@media (min-width: 768px){
				justify-content: end;
			}

			a{
				color: white;
				font-weight: bold;
			}
		}

	}

	p{
		font-style: italic;
	}
	padding: 0;
	margin: 0;
}

