@import url('css/pico.min.css');
@import url('css/header.css');
@import url('css/content.css');
@import url('css/footer.css');

body{
	scroll-behavior: smooth;
}

main{
}

.preview{
	margin-top: 3rem;

	a{
		text-decoration: none;
		&:hover{
			color : #1f293b;
		}
	}
	img{
		width:630px;
	}
}
